*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/

.main-navigation {
  position: relative;
  min-height: 56px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 531px;
  display: block;
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  padding-top: 16px;
  width: 20%;
  font-weight: bold;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-right: 20%;
}

.site-navigation li:nth-child(1) {
  padding-left: 72px;
}

.site-navigation li:nth-child(2) {
  padding-left: 73px
}

.site-navigation li:nth-child(3) {
  padding-right: 73px;
}

.site-navigation li:nth-child(4) {
  padding-right: 72px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation a.active,
.site-navigation a.active:hover,
.site-navigation a.active:active {
  color: #766357;
}

/*Main*/

.promo {
  min-height: 508px;
  padding-top: 76px;

  background-image: url("../img/promo-shape.png"), url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, 50% -56px;
}

.promo-title {
  min-height: 216px;
  padding-top: 59px;

  line-height: 26px;
  background-color: #ffffff;
}

.promo-title p:first-child {
  margin: 0 379px;
  margin-bottom: 30px;

  font-size: 21px;
  font-weight: bold;
}

.promo-title p:last-child {
  margin: 0;
}

.reasons h2,
.reasons p {
  margin: 0;
}

.reasons h2 {
  font-size: 21px;
  font-weight: bold;
}

.reasons-wrapper {
  display: flex;
}

.reason {
  width: 400px;
  min-height: 256px;
}

.reason h2 {
  margin-bottom: 25px;
}

.reason p {
  margin-top: 20px;
}

.reason-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-blue-one {
  padding-top: 45px;
}

.reason-blue-one h2 {
  margin-right: 138px;
  margin-left: 138px;
}

.reason-blue-one p {
  margin-right: 59px;
  margin-left: 59px;
}

.reason-blue-two {
  padding-top: 48px;
}

.reason-blue-two p {
  margin-right: 48px;
  margin-left: 48px;
}

.reason-gray {
  padding-top: 48px;
  background-color: #eeeeee;
}

.reason-gray-three h2 {
  margin-left: 141px;
  margin-right: 142px;
}

.reason-gray-three p {
  margin-left: 94px;
  margin-right: 96px;
}

.reason-gray-four h2,
.reason-gray-five h2 {
  margin-left: 150px;
  margin-right: 150px;
}

.reason-gray-four p {
  margin-left: 68px;
  margin-right: 68px;
}

.reason-gray-five p {
  margin-left: 69px;
  margin-right: 69px;
}

.reason-picture {
  height: 256px;
}

.features {
  display: flex;
}

.feature-item {
  position: relative;
  width: 400px;
  min-height: 330px;
  padding-top: 163px;
}

.feature-item-home::before {
  content: "";

  position: absolute;
  top: 60px;
  left: 162px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-home.svg"); background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-food::before {
  content: "";

  position: absolute;
  top: 61px;
  left: 161px;

  width: 74px;
  height: 70px;

  background-image: url("../img/icon-food.svg"); background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-gift::before {
  content: "";

  position: absolute;
  top: 56px;
  left: 168px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-gift.svg"); background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item h2 {
  margin-bottom: 26px;
}

.feature-item-home p {
  padding-left: 72px;
  padding-right: 74px;
}

.feature-item-food p {
  padding-left: 58px;
  padding-right: 57px;
}

.feature-item-gift p {
  padding-left: 63px;
  padding-right: 63px;
}

.interest {
  min-height: 291px;
  padding-top: 51px;
}

.interest p:first-child {
  margin: 0;
  margin-bottom: 26px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.interest-description {
  margin: 0;
  margin-bottom: 47px;

  line-height: 24px;
}

.button-search-hotel {
  display: inline-block;
  padding: 30px 139px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.button-search-hotel:hover {
  background-color: #604e43;
}

.button-search-hotel:active {
  color: #857871;
  background-color: #503e33;
}

.search-form {
  margin: 0 auto;
  padding: 55px;
  width: 568px;
  min-height: 395px;

  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;

  color: #000000;
  background-color: #ffffff;
}

.search-form input[type="text"] {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input[type="text"]:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.date-wrapper input[type="text"] {
  padding-left: 13px;
  width: 346px;
  min-height: 38px;
}

.number-wrapper input[type="text"] {
  width: 114px;
  min-height: 38px;

  text-align: center;
}

.button-form {
  display: block;
  width: 100%;
  margin-top: 54px;
  padding: 16px;
  padding-left: 196px;
  padding-right: 197px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.button-form:hover {
  background-color: #669ec0;
}

.button-form:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.map {
  height: 593px;
}

/*Footer*/

.main-footer {
  display: flex;
  align-items: center;
  min-height: 120px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-position {
  position: relative;
  margin-top: -120px;
}

.footer-visitsedona-link,
.footer-social,
.footer-copyright {
  width: 400px;
}

.footer-visitsedona-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;

  list-style: none;
}

.social-button {
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.footer-copyright {
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright span {
  line-height: 26px;
  color: #000000;
}

/*Hotels*/

.main-hotels {
  text-align: left;
}

.filter-form {
  display: flex;
  min-height: 217px;

  color: #ffffff;

  background-image: url(../img/hotels-filter-background.jpg);
  background-repeat: no-repeat;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
}

.filter-form ul {
  list-style: none;
}

.filter-price input[type="text"] {
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.filter-button {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.searching-results,
.hotels,
.hotels-footer {
  background-color: #fefefe;
}

.searching-results {
  min-height: 86px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-list a {
  color: #b1b1b1;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.sorting-list a.active,
.sorting-list a.active:hover,
.sorting-list a.active:active {
  color: #81b3d2;
  border: none;
}

.hotel-item {
  display: flex;
  min-height: 150px;
}

.searching-title,
.hotel-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: #b2b2b2;
}

.more-info,
.book-it {
  font-weight: bold;
  color: #ffffff;
}

.more-info {
  background-color: #81b3d2;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.book-it {
  background-color: #766357;
}

.book-it:hover {
  background-color: #604e43;
}

.book-it:active {
  color: #857871;
  background-color: #503e33;
}

.hotel-rating {
  color: #666666;
  background-color: #f2f2f2;
}
