*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

/*Header*/

.main-navigation {
  line-height: 26px;
  color: #000000;
  background-color: #ffffff
}

.site-navigation {
  list-style: none;
}

.site-navigation li {
  font-weight: bold;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a.active,
.site-navigation a.active:hover,
.site-navigation a.active:active {
  color: #766357;
}

/*Main*/

.promo-title {
  line-height: 26px;
  background-color: #ffffff;
}

.promo-title p:first-child {
  font-size: 21px;
  font-weight: bold;
}

.reasons h2 {
  font-size: 21px;
  font-weight: bold;
}

.reason-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-gray {
  background-color: #eeeeee;
}

.features,
.interest {
  background-color: #ffffff;
}

.interest-description p:first-child {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.interest-description p:last-child {
  line-height: 24px;
}

.button-search-hotel {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.button-search-hotel:hover {
  background-color: #604e43;
}

.button-search-hotel:active {
  color: #857871;
  background-color: #503e33;
}

.search-form {
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.search-form input[type="text"] {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

.search-form input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
  background-color: #ffffff;
}

.button-form {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-form:hover {
  background-color: #669ec0;
}

.button-form:active {
  color: #88b6d1;
  background-color: #5496bd;
}

/*Footer*/

.main-footer {
  background-color: #ffffff;
}

.footer-visitsedona-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  list-style: none;
}

.footer-copyright span {
  line-height: 26px;
  color: #000000;
}

/*Hotels*/

.filter-form {
  color: #ffffff;

  background-image: url(../img/hotels-filter-background.jpg);
  background-repeat: no-repeat;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-weight: bold;
  font-size: 16px;
}

.filter-form ul {
  list-style: none;
}

.filter-price input[type="text"] {
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.filter-button {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.searching-results,
.hotels,
.hotels-footer {
  background-color: #fefefe;
}

.searching-results {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.searching-title,
.hotel-title {
  font-weight: bold;
  font-size: 21px;
  font-weight: 26px;
  color: #000000;
}

.hotel-title:hover {
  color: #81b3d2;
}

.hotel-title:active {
  color: #b2b2b2;
}

.sorting-list {
  list-style: none;
}

.sorting-list-item {
  color: #b1b1b1;
  border-bottom: 1px dashed #81b3d2;
}

.active-item {
  color: #81b3d2;
  border: none;
}

.more-info,
.book-it {
  font-weight: bold;
  color: #ffffff;
}

.more-info {
  background-color: #81b3d2;
}

.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.book-it {
  background-color: #766357;
}

.book-it:hover {
  background-color: #604e43;
}

.book-it:active {
  color: #857871;
  background-color: #503e33;
}

.hotel-rating {
  color: #666666;
  background-color: #f2f2f2;
}
